.App {
  min-height: 100vh;
  display: grid;
  grid-auto-columns: 10vw 1fr;
  grid-template-rows: 20vh 1fr;
  grid-template-areas: 'header header' 'menu content';
  
}

.header {
  grid-area: header;
}

.menu {
  grid-area: menu;
}

.content {
  grid-area: content
}