.converter-view-core {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.converter-view-core {
    font-weight: 600;
}

.converter-view-core .first-button {
    border-bottom-left-radius: 7px;
    border-top-left-radius: 0px;
}

.converter-view-core .last-button {
    border-bottom-right-radius: 7px;
    border-top-right-radius: 0px;
}

.text-fild {
    flex-grow: 1;
    width: 70%;
    align-self: center;
}

div.DraftEditor-root {
    height: 100%;
}

div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
    height: 100%;
}