.home {
    border-bottom: none;
    border-right: none;
    border-radius: 5px 0px 0px 0px;
    padding: 10px;
    padding-bottom: 0px;
}

.home h2 {
    margin-top: 0px;
}

.dark hr {
    background: #fff;
}

.light hr {
    background: #444;
}