.menu-item {
    border: none;
    border-bottom: 1px solid #fff;
    width: 100%;
    padding: 10px;
    margin: 5px;
    background: #aaa0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu-item img {
    height: 14px;
    fill: #fff;
    margin-left: 5px;
}

.menu-item:active {
    outline: 0px;
    outline-offset: 0px;
}

.menu-item:disabled img {
    display: none;
}

.menu-item:disabled {
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

